<h1><%= @deck.name %></h1>
<div>
  <a href="/decks/<%= @deck.id %>/cards/new">Add a card</a>
  <a href="/decks/<%= @deck.id %>/edit">Edit this deck</a>
  <a href="/decks/<%= @deck.id %>/cards/<%= @cards.first.id %>/front">Play this deck</a>
<div>
<br>
<% @cards.each do |card| %>
  <div>
    <div>
      <%= card.front %>
    </div>
    <div>
      <%= card.back %>
    </div>
  </div>
  <br>
<% end %>
